body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

.board {
    width: 300px;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    background: #222;
    border: 2px solid rgb(0, 255, 128);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}